#   OS

._*
.DS_Store
.DS_Store?
.AppleDouble
Icon?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini


#   VCS

.svn
*.orig
!.gitinclude


#   IDE

.settings/
.project
user.properties
.idea?
.metadata/*
lab/.metadata/*
*.ignore
*.sublime-*
*~
*.swp
*.swo

# 	LOCAL

_assets/